{{ "{% extends 'MvCrudGeneratorBundle::layout.html.twig' %}" }}

{{ "{% trans_default_domain 'mvcrud' %}" }}

{{ "{% block content -%}" }}
    <div class="admin-block">
        <h1>{{ "{{ '%entity% list'|trans({'%entity%':'" ~ entity ~ "'})|capitalize }}" }}</h1>
        <div class="admin-block-content">

            <table class="records_list">
                <thead>
                    <tr>
                    {%- for field, metadata in fields %}

                        <th>{{ "{{ '" ~ entity|lower ~ '.' ~ field ~ "'|trans({},'messages')|capitalize }}" }}</th>

                    {%- endfor %}

                        <th>{{ "{{ 'actions'|trans|capitalize }}" }}</th>
                    </tr>
                </thead>
                <tbody>
                {{ '{% for entity in entities %}' }}
                    <tr class="{{ '{% if loop.index is odd %}odd{% else %}even{% endif %}' }}">

                {%- for field, metadata in fields %}
                    {%- if loop.first and ('show' in actions) %}

                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                    {%- elseif metadata.type in ['date', 'datetime'] %}

                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y H:i:s\') }}{% endif %}' }}</td>

                    {%- else %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    {%- if loop.last %}

                        <td>
                            {%- include "crud/views/others/actions.html.twig.twig" %}
                        </td>

                    {%- endif %}
                {%- endfor %}

                    </tr>
                {{ '{% endfor %}' }}
                </tbody>
            </table>

            {% if 'new' in actions %}
            <ul class="list_actions">
                <li>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
                        {{ "{{ 'create a new entry'|trans|capitalize }}" }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
{{ "{% endblock %}" }}
