{{ "{% extends 'MvCrudGeneratorBundle::layout.html.twig' %}" }}

{{ "{% trans_default_domain 'mvcrud' %}" }}

{{ "{% block content -%}" }}
    <div class="admin-block">
        <h1>{{ "{{ '%entity% view'|trans({'%entity%':entity})|capitalize }}" }}</h1>
        <div class="admin-block-content">

            <table class="record_properties">
                <tbody>
                {%- for field, metadata in fields %}

                    <tr>
                        <th>{{ "{{ '" ~ entity|lower ~ '.' ~ field ~ "'|trans({},'messages')|capitalize }}" }}</th>

                    {%- if metadata.type in ['date', 'datetime'] %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y H:i:s\') }}' }}</td>

                    {%- else %}

                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    </tr>

                {%- endfor %}

                </tbody>
            </table>

            {% set hide_edit, hide_delete = false, false %}
            {% include 'crud/views/others/record_actions.html.twig.twig' %}
        </div>
    </div>
{{ "{% endblock %}" }}
