
<ul class="record_actions">
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">
            {{ "{{ 'back to the list'|trans|capitalize }}" }}
        </a>
    </li>
{% if ('edit' in actions) and (not hide_edit) %}
    <li>
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}">
            {{ "{{ 'edit'|trans|capitalize }}" }}
        </a>
    </li>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    <li>
        <form action="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id }) }}" }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ '{{ form_widget(delete_form) }}' }}
            <button type="submit" class="button-red">{{ "{{ 'delete'|trans|capitalize }}" }}</button>
        </form>
    </li>
{% endif %}
</ul>
